# MongoDB Atlas Cloud Database URI
MONGODB_URI=mongodb+srv://sgkganesh1802_db_user:nlv4VxnLEaKf3kcd@cluster0.losirgw.mongodb.net/

# JWT Authentication Secret Key
JWT_SECRET=super_secret_slipper_jwt_key_2026_production_grade_secured

# Default Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# App Settings
BUSINESS_NAME=SoleTrack Slipper Management
CURRENCY_SYMBOL=₹

# Cloudinary Image Storage Credentials
CLOUDINARY_CLOUD_NAME=mbu3snxe
CLOUDINARY_API_KEY=982822349585428
CLOUDINARY_API_SECRET=yZjwP_fYy7uhLHmnnxYlBORhdH4
